$textColor: #888;
$iconColor: #666;
$primaryColor: #34A8C4;

body {
  background: #F5F5F1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $textColor;
}

p {
  margin: 0;
  padding: 0;
}

header {
  background: #fff;
  margin-bottom: 30px;
}

button, input {
  outline: none;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid #E1E3DF;
  .left {
    display: flex;
    align-items: center;
    img {
      height: 60px;
      padding: 10px 10px 10px 20px;
    }
    input {
      background: #FBFBFA;
      border: 1px solid #CFCBC8;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-right: 0;
      height: 20px;
      padding: 6px;
      outline: none;
      width: 25vw;
    }
    .search-button {
      height: 34px;
      padding: 7px 15px;
      background: $primaryColor;
      border: 1px solid #2F98B1;
      border-left: 0;
      color: #fff;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      &:hover {
        background: lighten($primaryColor,5%);
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    .etsy-link {
      margin-right: 20px;
    }
    .icon-link {
      color: $iconColor;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 50px;
      width: 50px;
      padding: 13px;
      text-align: center;
      border-left: 1px solid #EEE;
      > i {
        font-size: 1.5rem;
      }
      p {
        color: #898989;
        margin-top: 6px;
        color: $textColor;
        font-size: 12px;
        i {
          margin-left: 3px;
          color: $textColor;
        }
      }
      &:hover {
        color: #363636;
        p {
          color: #363636;
          i {
            color: #888888;
          }
        }
      }
    }
  }
}

.main-categories {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #DADAD7;
  font-size: 0.9rem;
  a {
    display: flex;
    align-items: center;
    margin-left: 25px;
    color: #777777;
    height: 40px;
    &:hover {
      color: #444444;
    }
  }
}

.etsy-link {
  color: $primaryColor;
  &:hover {
    text-decoration: underline;
  }
}

.side-bar {
  width: 250px;
  padding: 0 18px;
  float: left;
  > p {
    padding-bottom: 6px;
  }
  .side-bar-wrapper {
    background: #fff;
    border: 1px solid #E1E3DF;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 24px;
    .sidebar-title {
      color: #444444;
      padding-bottom: 6px;
    }
    a:hover {
      text-decoration: underline;
    }
    .side-bar-section {
      padding-bottom: 18px;
      border-bottom: 1px solid #E1E3DF;
      margin-bottom: 18px;
    }
    select {
      background: none;
      width: 100%;
      height: 36px;
      padding: 0 30px 0 12px;
      border: 1px solid #CCC;
      border-radius: 3px;
      color: #222;
    }
  }
  .categories {
    display: flex;
    flex-direction: column;
    > a {
      padding-bottom: 6px;
    }
    li {
      padding: 0 0 6px 12px;
      a {
        color: $primaryColor;
        font-size: 0.9rem;
      }
    }
  }
}

form.side-bar-section {
  display: flex;
  flex-direction: column;
  .input-wrapper {
    margin-bottom: 6px;
  }
  a {
    color: $primaryColor;
  }
  label {
    position: relative;
    a {
      margin: 6px;
    }
  }

  input[type="radio"]:checked+label {
    a {
      color: #505050;
    }
  }
  .radio {
    input[type="radio"] {
      opacity: 0;
    }
    label::before {
      content: '';
      height: 15px;
      width: 15px;
      background: #fff;
      position: absolute;
      left: -20px;
      top: 0;
      transform: translateY(-5%);
      border-radius: 50%;
      border: 1px solid #adaeaa;
      box-shadow: inset 0 1px 4px -1px #F5F5F1,inset 0 0 0 3px #fff;
    }
    input[type="radio"]:checked+label::before {
      background: #34A8C4;
    }
  }
  .checkbox {
    input[type="checkbox"] {
      opacity: 0;
    }
    label::before {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: fontawesome;
      content: "\f00c";
      font-size: 0.8rem;
      color: #fff;
      height: 15px;
      width: 15px;
      background: #fff;
      position: absolute;
      left: -20px;
      top: 0;
      transform: translateY(-5%);
      border-radius: 3px;
      border: 1px solid #adaeaa;
      box-shadow: inset 0 1px 4px -1px #F5F5F1,inset 0 0 0 3px #fff;
    }
    input[type="checkbox"]:checked+label::before {
      color: #34A8C4;
    }
  }
  .price-input-wrapper {
    display: flex;
    align-items: center;
    input {
      width: 30%;
      padding: 9px 12px;
      border: 1px solid #CCC;
      border-radius: 3px;
      outline: none;
      margin-right: 6px;
    }
    p {
      margin-right: 6px;
    }
    button {
      height: 38px;
      padding: 8px 12px;
      background: none;
      border: 1px solid #CCC;
      border-radius: 3px;
      outline: none;
    }
  }
}

.color-wrapper {
  display: flex;
  justify-content: space-between;
  .color {
    padding: 10px;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
  }
  #red {background: #F40B32}
  #orange {background: #FF7F00}
  #yellow {background: #F3CC0C}
  #green {background: #0AC20A}
  #teal {background: #0CCCF3}
  #purple {background: #A60CF3}
  #black {background: #000}
}

main {
  .bread-crumbs {
    padding-bottom: 9px;
    #right-bc-icon {
      margin: 6px;
    }
    #bc-keyword {
      font-weight: bold;
    }
  }
}

.item-grid {
  display: flex;
  flex-wrap: wrap;
  // background: red;
  li {
    box-sizing: border-box;
    width: calc(25% - 18px);
    margin: 9px;
    border: 1px solid #E1E3DF;
    border-radius: 3px;
    position: relative;
    > button {
      padding: 3px 5px;
      background: #fff;
      border: 1px solid #CCC;
      border-radius: 3px;
      outline: none;
      &:hover {
        border: 1px solid darken(#CCC,10%);
        i {
           color: darken(#CCC,10%);
         }
      }
      i {
        color: #CCC;
      }
    }
    .favorite-btn {
      display: none;
      position: absolute;
      top: 6px;
      right: calc(6px + 36px + 6px);
      .favorited {
        color: #F2665D;
      }
    }
    .list-btn {
      display: none;
      position: absolute;
      top: 6px;
      right: 6px;
      // width: 32px;
      .fa-caret-down {
        margin-left: 3px;
        font-size: 0.8rem;
      }
    }
    .icon-show {
      display: block;
    }
    a {
      img {
        border: 0;
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
        width: 100%;
        object-fit: contain;
      }
      .description {
        margin-top: -4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        font-size: 0.8rem;
        background: #fff;
        padding: 6px;
        box-sizing: border-box;
        .item-title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          color: #505050;
          margin-bottom: 3px;
        }
        .item-shop-and-price {
          display: flex;
          justify-content: space-between;
          color: #A2A2A2;
          .price {
            color: #78C042;
          }
        }
      }
    }
  }
}

#pagenation {
  display: flex;
  margin-left: calc(250px + 36px + 9px);
  li {
    background: #fff;
    padding: 8px 12px;
    border-right: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    a {
      height: 100%;
      width: 100%;
    }
    &:first-child {
      border-left: 1px solid #D9D9D9;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

hr {
  margin-top: 30px;
  color: #E2E2E2;
}

.subscribe {
  margin: 30px auto 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 924px;
  padding: 20px;
  border: 8px solid #EFEFEB;
  button {
    margin-top: 10px;
    background: $primaryColor;
    border: 1px solid #2F98B1;
    border-radius: 3px;
    color: #fff;
    padding: 8px 12px;
  }
}

#footer-nav {
  display: flex;
  margin: 30px auto 0 auto;
  width: calc(160px * 5);
  padding-bottom: 30px;
  border-bottom: 1px solid #E2E2E2;
  .footer-links {
    display: flex;
    flex-direction: column;
    width: 160px;
    font-size: 0.8rem;
    a {
      color: $primaryColor;
      padding: 4px 0;
    }
    p {
      padding: 4px 0;
    }
    button {
      background: $primaryColor;
      border: 1px solid #2F98B1;
      border-radius: 3px;
      color: #fff;
      width: 70%;
      margin-bottom: 7px;
    }
  }
}

.localization {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  button {
    background: none;
    color: #444444;
    border: 1px solid #E1E3DF;
    border-radius: 3px;
    padding: 6px;
    margin-right: 12px;
    span {
      border-left: 1px solid #E2E2E2;
      padding: 0 6px;
      &:first-child {
        border-left: none;
      }
    }
  }
}

.legal {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 22px;
}
